# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next
/.next/
/out/

# vercel
.vercel

# dist 
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*.local
.env

# hidden
*.hidden.md

# typescript
*.tsbuildinfo

# OS
.DS_Store

# settings
/.vscode
